body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #d2dad0;
    user-select: none;
    color: #1B3409;
    overflow: hidden;
}

/* https://fonts.google.com/specimen/Roboto#standard-styles */

body,
p,
h1 {
    transition: 1s;
}

.big-card {
    position: fixed;
    border-radius: 2vw;
    box-shadow: #00000063 0.2vw 0.2vw 10px;
    background-color: #eeeeee;
    width: 90%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.aligner-table {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height: 100%;
}

.aligner-table td {
    width: 50%;
}


h1 {
    display: inline-block;
    margin: 30px;
    padding: 20px;
    font-size: 5vw;
    color: #5dbe0d;
    background-color: #fbf9f6;
    text-shadow: 0.06vw 0.06vw 0.2vw #1e3d00;
    box-shadow: #00000063 0.2vw 0.2vw 10px;
    border-radius: 1vw;
}

#date {
    display: inline-block;
    margin: 5px;
    padding: 1.5%;
    font-size: 2.5vw;
    text-align: center;
}

#lunch {
    display: table-cell;
    vertical-align: middle;
    background-color: #fbf9f6;
    border-radius: 5px;
    box-shadow: #00000063 0.3vw 0.3vw 10px;
    width: 40vw;
    height: 20vw;
    font-weight: bold;
    font-size: 2vw;
    user-select: text;
}

/* #lunch::selection {
    background-color: yellow;
} */

.arrow {
    display: inline-block;
    width: 6vw;
    margin-top: 20px;
}

#back {
    text-align: left;
}

#next {
    text-align: right;
}


.arrow a {
    display: inline-block;
    width: 1.4vw;
    height: 1.4vw;
    border-bottom: 0.6vw solid #8f9688;
    border-left: 0.6vw solid #8f9688;
    transition: 0.2s;
}

.arrow a:before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    top: -35%;
    right: -35%;
    width: 250%;
    height: 250%;
}

.arrow a.useful {
    border-bottom: 0.6vw solid #1B3409;
    border-left: 0.6vw solid #1B3409;
    cursor: pointer;
}

.arrow a.useful:hover {
    border-color: #49940b;
    box-shadow: #1B3409 -0.3vw 0.3vw;
}

#back a {
    transform: rotate(45deg);
}

#next a {
    transform: rotate(-135deg);
}


.info-button {
    background-color: #fbf9f6;
    position: absolute;
    padding-left: 0.8vw;
    width: 4vw;
    height: 4vw;
    top: 77%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: .6s;
}

.info-button:hover {
    box-shadow: #00000063 0.2vw 0.2vw 10px;
    width: 16vw;
    margin-left: 6vw;
    transition: .2s;
}

.info-button div {
    position: absolute;
    display: none;
    margin-left: 1vw
}

.info-button:hover div {
    display: inline;
    animation: info-text-hover 1s;
}

@keyframes info-text-hover {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.darkmode-btn-phone-fix {
    display: none;
    position: absolute;
    margin: 50px;
    padding: 20px;
    width: 80px;
    height: 40px;
}

@media only screen and (orientation: portrait) {
    .darkmode-btn-phone-fix {
        display: block;
    }
}

.darkmode-btn #moon {
    display: none;
}

.darkmode-btn #sun {
    display: inline;
    animation: fade-in 1s;
}

.darkmode-btn-on #moon {
    display: inline;
    animation: fade-in 1s;
}

.darkmode-btn-on #sun {
    display: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.darkmode-btn {
    position: absolute;
    display: block;
    padding: 20px;
    width: 80px;
    height: 40px;
    left: 33%;
    top: 61.5%;
}

.darkmode-btn-on {
    margin-left: 40px;
}

.darkmode-btn-placeholder {
    position: absolute;
    background-color: #ebebeb;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}

.darkmode-btn-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #9c9c9c;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: 1s;
}

.darkmode-btn-circle i {
    position: absolute;
    color: White;
    font-size: 30px;
    margin: 9.5px;
}

.darkmode-text {
    position: absolute;
    display: block;
    width: 30%;
    font-size: 30px;
    padding: 0.4%;
    left: 25%;
    margin-top: 30%;
    margin-left: -25%; /* -10% */
    text-align: center;
}


/* Dark UI */

.darkmode {
    background-color: black;
    transition: 1s;
}

.darkmode p,
.darkmode h1 {
    color: lightgray;
}

.darkmode #date {
    background-color: #52752a;
}

.darkmode .darkmode-btn-placeholder {
    background-color: #2c2c2c;
}

.darkmode .darkmode-btn-circle {
    background-color: #575757;
}

.darkmode .darkmode-btn-circle i {
    color: lightgray;
}


@font-face {
    font-family: "Roboto";
    src: url("/Roboto-Regular.ttf");
}